/* IMPOSTAZIONI GENERALI */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0.5em 0; /* 1em sopra e sotto, 0 dx e sx */
  line-height: 1.35em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin: 0.25em 0;
  line-height: 1.35em;
}

ol,
ul {
  padding-left: 2em;
  margin: 1em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* BODY + BACKGROUND */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  background-image: url(../img/sfondo.png);
  background-repeat: repeat-y;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
header {
  width: 90%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
  background-color: #076a87;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
}
header img {
  display: inline-block;
  width: 50%;
  padding-top: 5%;
}
header h1 {
  width: auto;
  overflow: hidden;
  font-size: 1em;
  color: white;
}
header ul {
  list-style-type: none;
  padding-left: 0;
}
header ul li a {
  text-decoration-line: none;
  color: white;
}
/* MAIN */
main {
  box-sizing: border-box;
  margin-top: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: white;
  border: 1px, solid, grey;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
}

/* ELEMENTI NEL MAIN - ARTICLE */

main article h4 {
  color: #a0a19f;
  font-weight: 400;
}

li {
  line-height: 1.35em;
}

span {
  background-color: rgb(201, 201, 201);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}
b {
  color: #ac1d6f;
  font-weight: 700;
}
iframe {
  width: 100%;
  border-radius: 30px;
}

main p,
main h2,
main h4 {
  padding-left: 2%;
}
.special-p {
  margin-bottom: 25px;
}
.special-p a {
  color: #13a9d1;
}
.special-h2 {
  text-align: left;
  font-size: 1em;
  font-weight: 400;
}

/* TABELLE */
table {
  width: 100%;
  text-align: center;
  margin: 1em 0;
}
caption {
  width: 100%;
  font-weight: 400;
  font-style: italic;
}
.tr-special {
  background-color: #f2f2f2;
  border-top: #e5e5e6, solid;
  border-bottom: #e5e5e6 solid;
  border-width: 2px;
}
.td-special {
  border-width: 2px;
  border-bottom-color: #4473cf;
  border-bottom-style: solid;
}

tr {
  align-items: center;
  line-height: 2.2em;
}

tbody {
  width: 100%;
}
th {
  background-color: #3d6cc9;
  text-align: center;
  padding-left: 10px;
  color: white;
}
td {
  /* border: 1px, solid, black; */
}

/* FORM */
form {
  text-align: center;
}

/* OTHER */

section div {
  background-color: #e3e3e4;
  padding-bottom: 5px;
}
section div a {
  color: #13a9d1;
  font-weight: 400;
  font-size: 0.75em;
  padding-left: 15px;
}
section div p:first-of-type {
  text-align: left;
  padding-left: 15px;
}
section div p:last-of-type {
  text-align: right;
  padding-right: 15px;
}
#special-div {
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#special-div h2 {
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

#special-div p {
  text-align: center;
  padding-bottom: 10px;
}
/* FORM */
input {
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
}
form button {
  color: white;
  background-color: #3366cc;
}

#special-h2 {
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* FOOTER */
footer {
  text-align: center;
  color: white;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #076a87;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.5);
}
footer p:first-of-type {
  padding-top: 15px;
}
footer p:last-of-type {
  margin-top: 20px;
  padding-bottom: 15px;
}
footer a {
  color: #bf1eb8;
}
